/* utility */
*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
  width: 80vw;
  padding-top: 10px;
}

.row:after{
  content: "";
  display: table;
  clear: both;
  }

[class^='col']{
  float: left;
  padding: 0 15px;
}

.row{
  margin: 0 -15px;
}

.col-100{
  width: 100%;
}

.col-60{
  width: 60%;
}

.col-33{
  width: calc(100% / 3)
}

.mt-1{
  margin-top: 1em;
}

.txt-white{
  color: white;
}

.txt-grey{
  color: #808080;
  font-size: 13px;
}

.btn{
  border-radius: 5px;
  text-transform: uppercase;
}

.btn-trans{
  border: 1px solid white;
  padding: 5px 25px;
}

.bg-green{
  background-color: #7CBB02;
}
/* f-utility */

/* header */
header{
  height: 496px;
  background-color: #0C325A;
}

/* navigatore */
nav .logo{
  display: inline-block;
  vertical-align: middle;
}

nav .logo img{
  width: 80px;
}

nav ul{
  display: inline-block;
  vertical-align: middle;
}

nav ul li{
  display: inline-block;
  margin-left: 10px;
}

nav ul li a{
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 8px;
}

nav .flt-dx{
  float: right;
  padding: 0 15px;
}

nav .btn-green{
  padding: 5px 10px;
}
/* f-navigatore */

/* jumbo */
.jumbo{
  background: url("../img/background-header.png") no-repeat right bottom;
  background-size: contain;
  height: 300px;
  margin-top: 48px;
}

.jumbo h1{
  font-size: 35px;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 20px
}

.jumbo .btn{
  text-decoration: none;
  font-size: 10px;
  padding: 15px 20px;
}
/* f-jumbo */

/* banner */
header .banner{
  text-align: center;
  background-color: #D3D3D3;
  padding: 20px 0;
}

.banner p{
  padding-top: 5px;
}
/* f-banner */
/* f-header */


/* main */
main{

}

.servizi .col-33{
  text-align: center;
}

.servizi img{
  height: 50px;
}
/* f-main */
