/* utility */
*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
  width: 80vw;
  padding-top: 10px;
}

.row:after{
  content: "";
  display: table;
  clear: both;
  }

[class^='col']{
  float: left;
  padding: 0 15px;
}

.row{
  margin: 0 -15px;
}

.txt-white{
  color: white;
}

.btn{
  border-radius: 5px;
  text-transform: uppercase;
}

.btn-trans{
  border: 1px solid white;
  padding: 5px 25px;
}

.bg-green{
  background-color: #7CBB02;
}
/* f-utility */

/* header */
header{
  height: 400px;
  background-color: #0C325A;
}

nav .logo{
  display: inline-block;
  vertical-align: middle;
}

nav .logo img{
  width: 80px;
}


nav ul{
  display: inline-block;
  vertical-align: middle;
}

nav ul li{
  display: inline-block;
  margin-left: 10px;
}



nav ul li a{
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 8px;
}

nav .flt-dx{
  float: right;
  padding: 0 15px;
}

nav .btn-green{
  padding: 5px 10px;
}

.col-60{
  width: 60%;
}

.jumbo{
  background: url("../img/background-header.png") no-repeat right bottom;
  background-size: contain;
  height: 300px;
  margin-top: 56px;
}

.jumbo h1{
  font-size: 35px;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 20px
}

.jumbo .btn{
  text-decoration: none;
  font-size: 10px;
  padding: 15px 20px;
}

header .banner{
  text-align: center;
  background-color: #D3D3D3;
  padding: 25px 0;
}

.banner h3{
  font-size:
}
/* f-header */
