/* utility */
*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #0C325A;
}

.container{
  width: 80vw;
  margin-top: 10px;
}

.row:after{
  content: "";
  display: table;
  clear: both;
  }

[class^='col']{
  float: left;
  padding: 0 15px;
}

.row{
  margin: 0 -15px;
}

.txt-white{
  color: white;
}

.btn{
  border-radius: 5px;
}

.btn-trans{
  border: 1px solid white;
  padding: 5px 25px;
}

.btn-green{
  background-color: #7CBB02;
  padding: 5px 10px;
}
/* f-utility */

/* header */
nav .logo{
  display: inline-block;
  vertical-align: middle;
}

nav .logo img{
  width: 80px;
}


nav ul{
  display: inline-block;
  vertical-align: middle;
}

nav ul li{
  display: inline-block;
  margin-left: 10px;
}

nav ul li a{
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 8px;
  }

  nav .flt-dx{
    float: right;
    padding: 0 15px;
  }
/* f-header */
